.scrollbar-container {
    width: 100%;
    max-width: 549px;
    padding: 20px;
    overflow: auto;
    border-radius: 20px;
    background: linear-gradient(to bottom, #001F3F, #FF3355);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    scrollbar-width: thin;
    box-sizing: border-box;
}

.inner-content-d {
    width: 100%;
    padding: 127.25px 53px 118.05px 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.part-1-content-d {
    max-width: 394px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.icon-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.icon-section h2 {
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: white;
    margin: 0;
}

.part-1-inner-content-d p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    margin: 10px 0 0 0;
}

/* Scrollbar styles */
.scrollbar-container::-webkit-scrollbar {
    width: 5px;
}

.scrollbar-container::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.scrollbar-container::-webkit-scrollbar-thumb {
    background: rgba(15, 111, 255, 1);
    border-radius: 10px;
}

.scrollbar-container::-webkit-scrollbar-thumb:hover {
    background: rgba(15, 111, 255, 0.8);
}

/* Responsive Styles */
@media (max-width: 768px) {
    .scrollbar-container {
        max-width: 100%;
        height: 500px;
    }
    .part-1-inner-content-d h2 {
        font-size: 18px;
    }
    .part-1-inner-content-d p {
        font-size: 12px;
    }
}
